<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--导入外部properties配置文件-->
    <properties resource="jdbc.properties">
    </properties>
    <settings>
        <!--提示：一级缓存是默认开启的，而且无法关闭，是在同一个session内共享数据-->
        <!--开启二级缓存 (总开关)，是在不同的session之间共享数据-->
        <setting name="cacheEnabled" value="true"/>
        <!--文件-->
        <setting name="logImpl" value="log4j2"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driverclass}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="Mapper/EmpMapper.xml"/>
    </mappers>
</configuration>